body {
  background-color: #f7f7f7;
  margin:0px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  color: #404040;
  text-align: center;
}

.top-container {
  /* background-color: #d6d6d6; */
  background-image: url("./images/background-rough.JPG");
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: right, left;
  /* backdrop-filter: blur(5px); */

  color: white;
}

.top-container p {
  text-shadow: 2px 2px 40px black;
}


a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 40px black;

}

h1 {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 70px;
  padding-top: 30px;
}

.section-title {
  color: #de4463;
  font-variant: small-caps;
  font-weight: bold;
  padding-top: 30px;
}

h3 {
  margin-top: 0;
  maring-bottom: 0;
  text-shadow: 2px 2px 40px black;
}

.position-title {
  margin: 0;
  color: white;
  text-shadow: 2px 2px 40px black;
  font-variant: normal;
}

#title {
  /* background-color: #d6d6d6; */
  margin: 0px;
}

.vertical-bar {
  border-left: 1px solid white;
  height: 200px;
  margin: 25px 0 25px 50px;
}

.shadow-hr {
  border:none;
  width: 100%;
  height: 50px;
  border-bottom: 0.1px solid #707070;
  box-shadow: 0 20px 20px -20px #333;
}
#light-hr {
  border-bottom: 0.1px solid white;
  margin: 0px;
}

.shadow-hr-top {
  border:none;
  width: 100%;
  height: 50px;
  border-top: 0.1px solid #707070;
  box-shadow: 0 -20px 20px -20px #333;
  /* position: absolute; */
  /* height: 1px; */
  margin-bottom:0;
  margin-top:70px;
}

.short-hr {
  padding: 30px 0;
  width: 80%;
  border: none;
  border-bottom: solid 0.5px #b3b3b3;
}

.light-hr {
  margin: 0;
  border: none;
  width: 80%;
  border-bottom: solid 0.5px white;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profilepic-container {
}

.job-section {
  margin-top: 50px;
}

.description-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
  margin-left: 50px;
}

.description-container p {
  margin: 7px 0;
  text-align: left;
}

.profilepic {
  width: 170px;
  margin: 20px 0;
  border-radius: 100%;
}

.edu {
  padding-top:25px;
  /* background-image: linear-gradient(#d6d6d6, #f7f7f7, #d6d6d6); */
}

.jobposition-background {
  width: 100%;
  height: 280px;
  color: white;
  text-shadow: 2px 2px 8px black;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: right, left;
  margin: 0 auto;
  backdrop-filter: opacity(60%);
}

.jobposition-content {
  width: 100%;
  padding: 0 50px;
  height: 280px;
  color: white;
  text-shadow: 2px 2px 8px black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Roboto', sans-serif;

  /* margin:0; */
  /* filter: blur(1px); */
}


.copmanyDesc {
  text-size: 150px;
  /* filter: none; */
  /* display: inline-block; */
  height: auto;
  width: 650px;
  margin: 35px 0 35px 70px;
  opacity: 1;
  text-align: left;
}

.left-panel {
  width:30%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;

}

.companylogo {
  width: 300px;
  height:100%;
  float:left;
  /* margin-right: 50px; */
  background-size: contain;
  opacity: 1;
  /* display: inline-block; */
  filter: drop-shadow(0 0 10px #222);

}

.date {
}


.overlay {
  height: 100%;
  width:100%;
  justify-content: center;
  display: flex;
  /* background: black; */
  backdrop-filter: blur(1px); */
}

.overlay:hover {
  backdrop-filter: blur(5px); */
}

#uber {
  background-image: url("./images/uber.png");
}

#disney {
  background-image: url("./images/disney.png");
}

#eth {
  background-image: url("./images/eth.jpg");
}

#ghostery {
  background-image: url("./images/ghostery.jpg");
}


#cliqz {
  background-image: url("./images/cliqz.png");
}

#cliqzlogo {
  background-image: url("./images/cliqzlogo.png");
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0 0 1px #222);
}

#uberlogo {
  background-image: url("./images/uberlogo.png");
  background-repeat: no-repeat;
  background-position: center;
}

#drlogo {
  background-image: url("./images/drlogo.png");
  background-repeat: no-repeat;
  background-position: center;
}

#ethlogo {
  background-image: url("./images/ethlogo.png");
  background-repeat: no-repeat;
  background-position: center;
}

#ghosterylogo {
  background-image: url("./images/ghosterylogo.png");
  background-repeat: no-repeat;
  background-position: center;
}
