body {
  background-color: #f7f7f7;
  margin:0px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  color: #404040;
  text-align: center;
}

.top-container {
  /* background-color: #d6d6d6; */
  background-image: url("./images/background-nyc.jpeg");
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: right, left;
  /* backdrop-filter: blur(5px); */
  text-shadow: 4px 4px 8px black;

  font-variant: small-caps;

  color: white;
  /* color: #ffca8a; */
}

.top-container p {
  text-shadow: 2px 2px 40px black;
}


a {
  color: #f7f7f7;
  text-decoration: none;
}

a:hover {
  color: #c4c4c4;
  text-decoration: none;
}

h1 {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 70px;
  padding-top: 30px;
}


.section-title {
  color: #de4463;
  font-variant: small-caps;
  font-weight: bold;
  padding: 30px 0;
  background: #f7f7f7;
}

h3 {
  margin-top: 0;
  maring-bottom: 0;
  text-shadow: 2px 2px 40px black;
}

.position-title {
  margin: 0;
  color: #de4463;
  font-variant: small-caps;
  font-weight: bold;
}

#title {
  /* background-color: #d6d6d6; */
  margin: 0px;
}

.vertical-bar {
  border-left: 1px solid white;
  height: 200px;
  margin: 25px 0 25px 50px;
}

.shadow-hr {
  border:none;
  width: 100%;
  height: 50px;
  border-bottom: 0.1px solid #707070;
  box-shadow: 0 20px 20px -20px #333;
}
/* #light-hr {
  border-bottom: 0.1px solid white;
  margin: 0px;
} */

.shadow-hr-top {
  border:none;
  width: 100%;
  height: 50px;
  border-top: 0.1px solid #707070;
  box-shadow: 0 -20px 20px -20px #333;
  /* position: absolute; */
  /* height: 1px; */
  margin-bottom:0;
  margin-top:70px;
}

.short-hr {
  padding: 30px 0;
  width: 80%;
  border: none;
  border-bottom: solid 0.5px #b3b3b3;
}

.light-hr {
  margin: 0;
  border: none;
  width: 100%;
  border-bottom: solid 0.5px white;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profilepic-container {
}

.job-section {
  margin-top: 50px;
  background-color: #f7f7f7;
}

.description-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
  margin-left: 50px;
}

.description-container p {
  margin: 7px 0;
  text-align: left;
}

.profilepic {
  width: 200px;
  margin: 20px 0;
  border-radius: 100%;
}

.edu {
  padding-top:25px;
  background: #f7f7f7;
  /* background-image: linear-gradient(#d6d6d6, #f7f7f7, #d6d6d6); */
}

.jobposition-background {
  width: 80%;
  /* height: 280px; */
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: right, left;
  margin: 30px auto;
}

.jobposition-content {
  /* width: 80%; */
  padding: 0 50px;
  /* height: 280px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 23px;
  color: #404040;
}

.copmanyDesc {
  text-size: 150px;
  height: auto;
  width: 650px;
  margin: 35px 0 35px 70px;
  text-align: left;
  background-color: #f7f7f7;
  color: #404040;
  padding: 10px 20px;
}

.companylogo {
  width: 300px;
  height:100%;
  float:left;
  background-size: contain;
  opacity: 1;
  filter: drop-shadow(0 0 10px #222);
}

.overlay {
  height: 100%;
  width:100%;
  justify-content: center;
  display: flex;
  backdrop-filter: blur(1px);
}

.overlay:hover {
  backdrop-filter: blur(5px);
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.image-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%
  text-align:center;
}

.project-section {
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.image-container {
  /* width: 600px; */
  margin-top: 50px;
}

.decay-section {
  background-color: black;
  width: 70%;
  padding-bottom: 50px;
}

.image-section {
  /* display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center; */
}

.image-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.portfolio-image {
  width: 30%;
  margin: 40px 40px;
  /* height: 300px; */
}

.image-portfolio-style {
  width: 100%;
  /* height: 40%; */
}

#video-container {
  margin-top: 60px;
}

#decay-title {
  color: #f7f7f7;
  padding: 0;
  margin: 30px 0 0;
}

#decay-subtitle {
  color: #f7f7f7;
}


#skull {
  width: 75%;
}

#snake {
  width: 75%;
}

#uber {
  background-image: url("./images/uber.png");
}

#disney {
  background-image: url("./images/disney.png");
}

#eth {
  background-image: url("./images/eth.jpg");
}

#ghostery {
  background-image: url("./images/ghostery.jpg");
}

#cliqz {
  background-image: url("./images/cliqz.png");
}

#burda {
  background-image: url("./images/burda.jpg");
}

#cliqzlogo {
  background-image: url("./images/cliqzlogo.png");
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0 0 1px #222);
}

#uberlogo {
  background-image: url("./images/uberlogo.png");
  background-repeat: no-repeat;
  background-position: center;
}

#drlogo {
  background-image: url("./images/drlogo.png");
  background-repeat: no-repeat;
  background-position: center;
}

#ethlogo {
  background-image: url("./images/ethlogo.png");
  background-repeat: no-repeat;
  background-position: center;
}

#ghosterylogo {
  background-image: url("./images/ghosterylogo.png");
  background-repeat: no-repeat;
  background-position: center;
}

#burdalogo {
  background-image: url("./images/burdalogo.png");
  background-repeat: no-repeat;
  background-position: center;
}
